In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shushenskoye,RU,2022-07-19 03:00:01,53.3250,91.9356,68.09,47,89,13.73
1,1,Margate,GB,2022-07-19 03:00:01,51.3813,1.3862,73.69,71,0,9.66
2,2,Busselton,AU,2022-07-19 03:00:04,-33.6500,115.3333,58.32,70,0,9.48
3,3,Beidao,CN,2022-07-19 03:00:05,34.5686,105.8933,71.53,66,100,3.13
4,4,Khani,GE,2022-07-19 03:00:07,41.9563,42.9566,62.17,97,100,0.85

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
14,14,Hilo,US,2022-07-19 03:00:16,19.7297,-155.0900,82.27,95,75,5.75
15,15,Cayenne,GF,2022-07-19 03:00:06,4.9333,-52.3333,76.08,1,99,1.14
21,21,Terra Santa,BR,2022-07-19 03:00:19,-2.1042,-56.4869,76.95,74,100,3.83
27,27,Arlit,NE,2022-07-19 03:00:23,18.7369,7.3853,88.41,36,92,8.63
30,30,Laizhou,CN,2022-07-19 03:00:25,37.1717,119.9214,87.78,44,95,4.41
33,33,Ixtapa,MX,2022-07-19 03:00:26,20.7000,-105.2000,76.71,90,99,3.67
35,35,Komsomolskiy,UZ,2022-07-19 03:00:28,40.4272,71.7189,86.72,23,0,4.61
39,39,Poso,ID,2022-07-19 03:00:29,-1.3959,120.7524,85.89,56,90,0.69
41,41,Mana,GF,2022-07-19 03:00:30,5.6592,-53.7767,77.77,89,100,7.96
42,42,Westport,US,2022-07-19 03:01:32,41.1415,-73.3579,78.10,95,100,5.99

In [18]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
14          Hilo      US     82.27  19.7297 -155.0900
15       Cayenne      GF     76.08   4.9333  -52.3333
21   Terra Santa      BR     76.95  -2.1042  -56.4869
27         Arlit      NE     88.41  18.7369    7.3853
30       Laizhou      CN     87.78  37.1717  119.9214
33        Ixtapa      MX     76.71  20.7000 -105.2000
35  Komsomolskiy      UZ     86.72  40.4272   71.7189
39          Poso      ID     85.89  -1.3959  120.7524
41          Mana      GF     77.77   5.6592  -53.7767
42      Westport      US     78.10  41.1415  -73.3579

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
len(hotels["results"])

6

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
14,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Cayenne,GF,76.08,4.9333,-52.3333,Hôtel Le Dronmi
21,Terra Santa,BR,76.95,-2.1042,-56.4869,Hotel Sarah
27,Arlit,NE,88.41,18.7369,7.3853,Case de Passage De la Prefecture
30,Laizhou,CN,87.78,37.1717,119.9214,GreenTree Inn Yantai Laizhou South Road Unicom...
33,Ixtapa,MX,76.71,20.7000,-105.2000,hotel la terminal
35,Komsomolskiy,UZ,86.72,40.4272,71.7189,Ikathouse
39,Poso,ID,85.89,-1.3959,120.7524,Hotel 77 Poso
41,Mana,GF,77.77,5.6592,-53.7767,LE SAMANA
42,Westport,US,78.10,41.1415,-73.3579,The Westport Inn

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))